/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  margin: 0 135px;
  background: #ffffff;
  color: #000000;
  font-family: 'Manrope', cursive;
}

section {
  margin: 120px auto;
}

button {
  background: #F85A47;
  color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0.01em;
  border: none;
}

.main-navbar {
}

.main-navbar__container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 34px;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: end;
}

.navbar-links {
  display: flex;
  margin-right: 0;
  margin-left: 20px;
  gap: 46px;
}

.item-link {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0;
  text-shadow: #31353B44 0 3px 3px;
}

.item-link:hover {
  text-decoration: underline;
}

.logo {
  font-family: 'Manrope', cursive;
  font-weight: 800;
  font-size: 23px;
  line-height: 100%;
  letter-spacing: 0;
  color: #31353B;
  text-shadow: #31353B44 0 3px 3px;
}

.logo:hover {
  cursor: default;
}


.hero-section {
  font-family: 'Manrope', cursive;
  position: relative;
  max-width: 100%;
  min-width: 1170px;
  margin-bottom: 117px;
}

.hero-tagline {
  color: #000000;
  text-align: left;
  width: 500px;
  padding-top: 40px;
}

.hero-tagline .subtitle {
  font-family: 'DM Sans', cursive;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: #FF9900;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-tagline .title {
  font-weight: 800;
  font-size: 54px;
  line-height: 73px;
  margin-top: 0;
  margin-bottom: 24px;
}

.hero-tagline .description {
  font-weight: 400;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 7px;
  letter-spacing: 0.01em;
  color: #31353B;
}

.hero-image img {
  position: absolute;
  width: 603px;
  height: 573px;
  object-fit: fill;
  right: 0;
  top: 0;
  z-index: -1;
  box-shadow: #00000022 -5px 5px 10px;
}

.blue-rectangle {
  width: 511px;
  height: 841px;
  z-index: -2;
  position: absolute;
  background: #BDCCFF;
  top: 0;
  right: 0;
}

.search-box {
  display: flex;
  margin: 48px auto 48px 0;
  width: 100%;
  background-image: url("../img/icons/House-Search.svg");
  background-position: 33px 33px;
  background-repeat: no-repeat;
  box-shadow: #00000018 -10px 10px 10px;
}

.search-box input {
  flex-grow: 1;
  background: #ffffff;
  font-weight: 400;
  font-size: 20px;
  color: #31353B;
  opacity: 30%;
  border: 1px solid #DADADA;
  padding: 33px 0 33px 74px;

}

.search-box input:hover {
  cursor: text;
}

.search-box input:focus {
  outline: none;
}

.search-box button {
  max-width: 100%;
  padding: 31px 41px;
  white-space: nowrap;
  margin-right: 416px;
  z-index: 5;
}

.search-box button:hover {
  cursor: pointer;
  z-index: 5;
}

.partners {
  margin-top: 145px;
}

.partners h2 {
  font-family: 'Manrope', cursive;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 7px;
  letter-spacing: 0.01em;
}

.partners-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 777px;
  padding-top: 27px;
}

.socials {
  position: absolute;
  top: 367px;
  right: 0;
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.socials a {
  margin: 13px 0;
}

.how-it-works {
  margin: 227px auto;
}

.how-it-works h2 {
  font-family: 'Manrope', cursive;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.steps-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 70px;
}

.step-card {
  min-width: 260px;
  padding: 0 8px 16px 8px;
  margin: 0;
  text-align: center;
  max-width: 260px;
}

.step-card .img {
  max-width: 90px;
  max-height: 90px;
}

.step-card h3 {
  font-family: 'Manrope', cursive;
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000000;
  margin-top: 50px;
}

.step-card p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
  color: #333333;
}

.property-deals {
  margin-top: 100px;
}

.property-deals-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 123px;
}

.property-deals-container .property-deals-content {
  max-width: 470px;
  margin: 0 0 25px 0;

}

.property-deals-container h2 {
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0;
}

.property-deals-container p {
  margin: 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.property-deals-container button {
  position: relative;
  top: 0;
  right: 0;
  min-width: 200px;
  min-height: 65px;
  border: none;
  border-radius: 5px;
}

.property-deals-container button:hover {
  cursor: pointer;
}

.property-view {
  padding-top: 25px;
}

.property-type {
  display: flex;
  gap: 50px;
}

.property-type button {
  background: #FFFFFF;
  color: #000000;
  font-weight: 400;
  font-size: 19px;
  border: none;
  line-height: 100%;
  letter-spacing: 0;
  padding: 0 0 12px 0;
}

.property-type button:hover {
  cursor: pointer;
  color: #F85A47;
  text-decoration: none;
  border-bottom: 2px solid #F85A47;
  line-height: 100%;
}

.property-image {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 123px auto;
}

.property-image img {
  flex: 1 1 auto;
  width: auto;
  object-fit: cover;
}

.featured h2 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.featured-listing {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 77px;
  margin-top: 95px;
  padding-bottom: 82px;
  background: #F1FFFF;
  position: relative;
}

.listing-img {
  position: relative;
  margin: 39px 39px 0 39px;
  padding-bottom: 165px;
}


.featured-listing .featured-img1 {
  width: 492px;
  height: 364px;
}

.featured-listing .featured-img2 {
  width: 410px;
  height: 278px;
  position: absolute;
  top: 251px;
  left: 41px;

}

.listing-text {
  margin: 43px 150px 0 0;
  max-width: 412px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 0;
  position: relative;
}

.listing-text h3 {
  font-weight: 600;
  font-size: 31px;
}

.listing-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.listing-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 60px;
  margin-right: 16px;
}

.listing-info h4 {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 12px;
}

.listing-info p {
  font-weight: 400;
  font-size: 17px;
  color: #545A58;
}

.listing-text button {
  font-family: Inter, sans-serif;
  font-size: 18px;
  width: 100%;
  min-height: 53px;
  font-weight: 500;
  position: relative;
  margin-top: 54px;
  border-radius: 5px;
  bottom: 0;
}

.listing-text button:hover {
  cursor: pointer;
}

.reviews {
  margin-top: 196px;
  display: flex;
  flex-direction: column;
}

.reviews h2 {
  font-weight: 600;
  font-size: 40px;
  max-width: 50%;
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  border: #EBEBEB solid 1px;
  border-radius: 10px;
  margin-top: 50px;
  padding: 52px 72px 52px 38px;
}

.testimonials-container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 84px;
}

.testimonials-container .stars {
  display: flex;
  flex-flow: row nowrap;
}

.person-container {
  display: flex;
  flex-direction: row;

  gap: 20px;
}

.person-container img {
  max-width: 48px;
  max-height: 48px;
}

.person-container div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 48px;
}

.person-container h4 {
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  margin: 0;
}

.person-container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 0;
}

.testimonials-contact {

  display: flex;
  justify-content: space-around;
  gap: 100px;
}

.testimonials-contact .partners-logo {
  max-width: 100%;
  gap: 80px;
}

.testimonials-contact p {
  font-family: 'Inter', cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.testimonials-contact a {
  text-decoration: underline solid;
  color: #2CBDE6;
}

footer {
  line-height: 144%;
  letter-spacing: 0.02em;
}

.newsletter {
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter h2 {
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  color: #31353B;
}

.newsletter p {
  font-weight: 700;
  font-size: 23px;
  color: #31353B;
}

.send-email {
  display: flex;
  min-width: 686px;
  padding: 26px 30px;
  box-shadow: 0 100px 100px 15px rgba(34, 60, 80, 0.15);
  z-index: 1;
  margin: 0 auto;
  max-width: 686px;
}

.send-email-text label {
  font-weight: 500;
  font-size: 17px;
  color: #31353B;
  opacity: 20%;
  display: flex;
}
.send-email-text{
  flex-grow: 1;
}
.send-email-text label:hover {
  cursor: text;
}

.send-email-text input {
  border: none;
  font-weight: 700;
  font-size: 20px;
  color: #31353B;
  width: 100%;
}

.send-email-text input:focus {
  outline: none;
  opacity: 30%;
}

.send-email button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 23px 40px;
  z-index: 2;
  box-shadow: 0 100px 200px 15px #F85A4726;
}

.send-email button:hover {
  cursor: pointer;
}

footer hr {
  margin-top: 160px;
}

.footer-navbar {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer h2 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #31353B;
  text-align: center;
  margin-top: 77px;
  margin-bottom: 36px;
}

@media only screen and (max-width: 1460px) {
  .html {
    margin: auto;
  }

  .body {
    margin: auto;
    text-align: center;
  }
  h1,h2,h3,p{
    text-align: center;
  }
  .blue-rectangle {
    display: none;
  }

  .main-navbar__container {
    flex-flow: column wrap;
    align-items: center;
  }

  .logo {
    margin-bottom: 16px;

  }

  .navbar-links {
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    margin: auto;
  }

  .hero-section {
    min-width: auto;
    text-align: center;
  }

  .hero-tagline h1 {
    text-align: center;
  }

  .hero-image {
    display: none;
  }

  .hero-tagline {
    width: 100%;
  }

  .hero-section {
    width: 100%;
  }

  .search-box{
    flex-direction: column;
    background: none;
    max-width: 500px;
    margin: 48px auto;
  }
  .search-box input {
    padding: 20px 5px 40px 5px;
    font-size: 16px;
    word-wrap: break-word;
  }
  .search-box input::placeholder {
    white-space: normal;
    text-align: center;
  }

  .search-box button {
    margin-right: 0;
    padding: 15px 20px;
  }

  .partners-logo {
    padding-top: 10px;
    gap: 40px;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .steps-container {
    flex-flow: row wrap;
    align-items: center;
  }

  .property-deals-container {
    align-items: center;
    flex-direction: column;
  }

  .property-deals-container h2, p {
    text-align: center;
  }

  .property-deals-container button {
    top: auto;
    right: auto;
    margin-bottom: 20px;
  }
  .property-view{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .property-type {
    flex-flow: row wrap;
    row-gap: 10px;
    align-content: flex-start;
    justify-content: center;
  }

  .property-image {
    margin: 30px 0;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
    max-width: 370px;

  }

  .property-image img {
    align-self: center;
    margin: auto;
    max-width: 100%;
    height: auto;
  }

  .listing-img {
    display: none;
  }

  .featured-listing {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .listing-text {
    margin: auto;
  }

  .listing-info {
    justify-content: center;
    margin-right: 0;
    column-gap: 20px;
  }

  .listing-info h4 {
    text-align: center;
  }

  .reviews {
    align-items: center;
    align-content: center;
    margin-top: 60px;
  }

  .reviews h2 {
    text-align: center;
    max-width: 100%;
    font-size: 30px;
  }

  .testimonials {
    flex-flow: row wrap;
  }

  .testimonials-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 30px 10px;
  }

  .testimonials-container p {
    margin-bottom: 16px;
  }

  .testimonials-contact {
    flex-flow: row wrap;
  }
  .person-container div{
    height: auto;
  }
  .person-container h4,p{
    text-align: left;
  }

  .newsletter {
    margin-top: 100px;
  }
  .newsletter p{
    text-align: center;
  }

  .send-email {
    min-width: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-content: center;
    row-gap: 20px;
  }
  .send-email-text{
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .send-email-text label{
    font-size: 14px;
  }
  .send-email-text input {
    font-size: 17px;
    width: 100%;
    text-align: center;
  }
  .footer-navbar {
    flex-flow: column wrap;
    align-items: center;
  }
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (max-width: 1460px) and (min-width: 320px) {
  body {
    margin: auto 90px;
    text-align: center;
  }
  .blue-rectangle{
    display: block;
    max-width: 20%;
  }
  .hero-section {
    margin: 60px auto;
  }
  .hero-tagline .subtitle {
    text-align: center;
  }
  .hero-tagline .title {
    font-size: 42px;
  }
  .hero-tagline .description {
    text-align: center;
  }

  .how-it-works {
    margin: 80px auto;
  }
  .property-deals{
    margin-top: 30px;
  }
  .property-deals-container {
    padding-top: 30px;
  }
  .listing-info{
    grid-template-columns: 1fr 1fr;
  }
  .step-card{
    min-width: auto;
  }
  .listing-text button {
    padding: 5px 5px;
  }
  .featured-listing {
    padding-bottom: 30px;
  }
  .reviews {
    margin-top: 20px;
  }
  .testimonials-contact .partners-logo{
    gap: 40px;
  }
  .property-deals-container p{
    text-align: center;
  }
  .send-email{
    padding: 5px;
  }
}
